@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Stalinist+One&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  background-color: #111618;
}

.headline {
  margin-left: 1rem;
  color: aliceblue;
}

.to-do {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 25rem;
  height: 35rem;
  background-color: #21242b;
  border-radius: 10px;
}

.task-form {
  padding: 1rem 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  width: 70%;
  margin: 0 auto;
}

.input {
  text-decoration: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
}

.add-btn {
  background: transparent;
  text-decoration: none;
  border: none;
  background-color: indigo;
  padding: 6px 12px;
  color: white;
  border-radius: 5px;
}

.tasks {
  display: grid;
  align-items: center;
  gap: 1rem;
  width: 70%;
  padding: 1rem;
}

.task {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-item {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  background-color: white;
  padding: 8px 1rem;
  width: 100%;
  border-radius: 5px;
}

.delete-btn {
  background: transparent;
  text-decoration: none;
  border: none;
  background-color: rgb(208, 33, 33);
  padding: 6px 12px;
  color: white;
  border-radius: 5px;
}
